
<ngx-one-column-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet>
    <div class="row">
      <div class="col">
        <h2>NbDatepickerModule</h2>
        <a href="https://akveo.github.io/nebular/docs/components/datepicker/overview#nbdatepickerdirective">Docs</a>
        <input nbInput
        placeholder="Form Picker"
        [(ngModel)]="selectedMoment"
        [nbDatepicker]="formpicker">
        <nb-datepicker #formpicker></nb-datepicker>

        <p class="mt-2">
          Hijri: {{hijri | json}}
        </p>

        <p>
          Gregorian: {{gregorian | json}}
        </p>

        <p>
          This one has some formating issue and I wasn't able to use it for Hijri.
        </p>
        <p>
          It is mentioned in the documentation that you can use momentjs with it to solve some formating issues, but it didn't work with me.
        </p>
        <p>Give it a try, you may find the solution.</p>
      </div>

    </div>
  </router-outlet>
</ngx-one-column-layout>
